.introduction {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    color: var(--white);
  
    header {
      display: flex;
      justify-content: flex-end;
      align-items: center;
  
      nav {
        width: 550px;
        display: flex;
        justify-content: space-around;
        padding: 1.5rem 1rem;
  
        a:hover {
          text-decoration: underline;
        }
      }
    }
  
    h1 {
      display: flex;
      align-items: center;
      font-size: 64px;
      font-weight: 300;
      letter-spacing: 0.1rem;
      margin: 10rem 3rem;
    }
  
    .container {
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
  
      p {
        font-size: 16px;
        letter-spacing: 0.1rem;
        font-weight: 600;
      }
  
      a {
        background: transparent;
        border: none;
        cursor: pointer;
      }
    }
  }
