:root {
    --white: #FFFFFF;
    --white-50: #FBF7F7;
    --black: #000000;
    --red: #850909;
    --yellow: #FCBF27;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    display: none;
  }

   a {
     color: var(--white);
   }
}

body {
  background: url("/img/home.jpg");
  background-size: cover;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  font-weight: 400;
}

@media (max-width: 1080px) {
  html {
      font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
      font-size: 87.5%;
  }
}