.history {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin-bottom: 8rem;
    background: var(--white);

    img {
        width: 330px;
        -webkit-box-shadow: -20px 20px 2px 5px rgba(157, 131, 109, 0.98);
        box-shadow: -20px 20px 2px 5px rgba(157, 131, 109, 0.98);
    }

    div {
        width: 600px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-size: 42px;
        }

        p {
            font-size: 20px;
            line-height: 35px;
            margin-bottom: 8rem;
            text-align: justify;
        }
    }
}
